<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  <script src="/common.jsx"></script>
  <script src="/rurik-client.jsx"></script>
  <script src="/preGameAndSetup.jsx"></script>
  <script src="/map.jsx"></script>
  <script src="/actionPhase.jsx"></script>
  <script src="/strategyPhase.jsx"></script>
  <script src="/player.jsx"></script>
  <script type="text/javascript">
  </script>
  <link rel="stylesheet" type="text/css" href="/rurik-styles.css"  />
  <style>
  </style>
  <!-- Used assets from https://brdgm.me/rurik -->
  <!-- https://brdgm.me/rurik/assets/index-OJyTpDrt.js -->
  <title>Rurik: Dawn of Kiev</title>
</head>
<body onload="onLoad()">
  <div>
    <!-- leftSideDiv width set in javascript width:50% -->
    <%- include('map.ejs') %>
    
    <!-- set in javascript width:45% -->
    <div id="rightSideDiv" style="float:right; width:100%; height:700px; background-size: cover; background-repeat: no-repeat; background-image: url('/assets/snow-castle.png'); opacity:1;" >
      <%- include('gameStatus.ejs') %>
      
      <%- include('preGameAndSetup.ejs') %>

      <%- include('actionPhase.ejs') %>

      <%- include('personalCards.ejs') %>

      <%- include('gameCards.ejs') %>
      
      <%- include('strategyboard.ejs') %>

      <%- include('claimboard.ejs') %>

      <%- include('boatAndSupply.ejs') %>

      <%- include('gameLog.ejs') %>

      <%- include('endGame.ejs') %>
  </div>

</body>
</html>
