<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
  <script src="/common.jsx"></script>
  <script src="/rurik-client.jsx"></script>
  <script src="/preGameAndSetup.jsx"></script>
  <script src="/map.jsx"></script>
  <script src="/actionPhase.jsx"></script>
  <script src="/strategyPhase.jsx"></script>
  <script src="/player.jsx"></script>
  <script type="text/javascript">
  </script>
  <link rel="stylesheet" type="text/css" href="/rurik-styles.css"  />
  <style>
  </style>
  <!-- Used assets from https://brdgm.me/rurik -->
  <!-- https://brdgm.me/rurik/assets/index-OJyTpDrt.js -->
  <title>Rurik: Dawn of Kiev</title>
</head>
<body onload="onLoad()">
  <div style="width: 100%; display: table;">
    <div style="display: table-row">
      <!-- leftSideDiv style set in javascript preGameAndSetup.jsx -->
      <div id="leftSideDiv" style="display: none; width: 5%; position:relative; top: 0; left: 0; z-index: 1 ">
        <%- include('map.ejs') %>
      </div>
      <div id="gutterDiv" style="width:1px; display: table-cell" ></div>
      <!-- rightSideDiv style set in javascript preGameAndSetup.jsx -->
      <div id="rightSideDiv" style="display: table-cell; height:700px; vertical-align: top; background-size: cover; background-repeat: no-repeat; background-image: url('/assets/snow-castle.png');" >
        <%- include('gameStatus.ejs') %>
        
        <%- include('preGameAndSetup.ejs') %>

        <div id="gameInProgressDiv">

          <%- include('actionPhase.ejs') %>

          <%- include('actionButtons.ejs') %>

          <%- include('personalCards.ejs') %>

          <%- include('gameCards.ejs') %>
          
          <%- include('strategyboard.ejs') %>

          <%- include('claimboard.ejs') %>

          <%- include('boatAndSupply.ejs') %>

          <%- include('gameLog.ejs') %>

          <%- include('endGame.ejs') %>
        </div>
    </div>
  </div>

</body>
</html>
